extends ../layout

block content
    h1= title
    table.order_table
        tr
            th StockItem
            th Warehouse
            th Instock
        
        if ware_list && ware_list.length > 0
            each warehouse in ware_list
                tr
                    td #{warehouse.stock_item}
                    td #{warehouse.instock}
                    td #{warehouse.warehouse}
           
        else
            tr
                td(colspan=6) No records